@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-Alt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Rounded';
    src: url('../fonts/CirceRounded-Alt-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

#root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --deep-blue: rgba(50, 56, 84, 1);
    --blue: rgba(0, 138, 255, 1);
    --powder: rgba(255, 241, 203, 1);
    --lily-gray: rgba(121, 116, 127, 1);
    --lily: rgba(115, 98, 188, 1);
    --violet2: rgba(141, 127, 199, 1);
    --violet: rgba(222, 207, 255, 1);
    --light-violet: rgba(238, 238, 255, 1);
    --thumb-height: 55%;
    --thumb-position: 0%;
}

.calendar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    margin: 20px;
}

.arrow-header {
    display: flex;
    width: 156px;
    height: 24px;
}

.bold16 {
    font-family: Circe Rounded;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    padding-top: 4px;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.today-header {
    display: flex;
    align-items: flex-start;
    margin-left: 32px;
    width: 125px;
}

.today-button {
    width: 85px;
    height: 32px;
    margin-right: 16px;

    font-family: Circe Rounded;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    border-radius: 16px;
    background-color: white;
    border: solid 1px var(--violet2);
    color: var(--violet2);
    cursor: pointer;
}

.question {
    width: 24px;
    padding-top: 4px;
}

.today-button:hover {
    background-color: var(--violet2);
    color: white;
}

.fc,
.fc-media-screen,
.fc-direction-ltr,
.fc-theme-standard {
    width: 1072px;
    height: 529px;


}

.fc-scrollgrid-section,
.fc-scrollgrid-section-header {
    font-size: 1.5em;
    font-family: Circe Rounded;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.25px;
    text-align: left;
    color: rgba(121, 116, 127, 1);
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
}

.fc th,
.fc td {
    border: 1px solid #dee2e6;
}

.fc-daygrid-day-number,
.fc-daygrid-day-top,
.fc-col-header-cell,
.fc-day,
.fc-day-mon {
    color: rgba(121, 116, 127, 1) !important;
}

.fc-toolbar-title,
.fc-toolbar-chunk {
    color: rgba(121, 116, 127, 1) !important;
}

.fc .fc-daygrid-event {
    margin: 0;
    padding: 0;
}

.subject-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 40px;
    width: 1072px;
}

.subject-header select {
    /* appearance: none; */
    background-color: white !important;
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

/* .subject-header select:hover {
    background-color: rgba(222, 207, 255, 1);
} */

.subject-header select:focus,
.subject-header button:focus {
    outline: none;
}

.subject-btn {
    width: 344px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Circe Rounded;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    border-radius: 16px;
    border: none;
    background-color: var(--violet);
    margin-left: 4px;
    text-align: center;
}




/* LESSON */

.lesson-box {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.bg-green {
    background-color: #d4edda;
}

.bg-lily {
    background-color: rgb(249, 226, 222);
}

.bg-yellow {
    background-color: rgba(255, 241, 203, 1);
    ;
}

.bg-light-blue {
    background-color: rgb(207, 225, 255);
}

.bg-purple {
    background-color: rgba(222, 207, 255, 1);
}


/* MODAL */

.btnScheduleW1,
.btnScheduleV1 {
    width: 80px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Circe Rounded;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    border-radius: 16px;
    border: none;
    margin-left: 4px;
    text-align: center;
}

.btnScheduleV1 {
    background-color: var(--violet2);
    color: white;
}

.btnScheduleW1 {
    background-color: white;
    border: solid 1px var(--violet2);
    color: var(--violet2);
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}

.modal-element {
    margin: 2px;
    border: solid 1px var(--lily-gray);
}