.App {
  text-align: center;
  font: Circe Rounded;
}

a {
  text-decoration: none;
}


html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}


/* SWITCH */
.langSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 110px;
}

.langButton {
  padding: 10px 20px;
  margin: 0 5px;
  color: rgba(121, 116, 127, 1);
  background-color: white;
  border: none;
  cursor: pointer;
}

.langButton.active {
  color: rgba(115, 98, 188, 1);
  font-size: 1.5em;

}

h1 {
  font-weight: 400 !important;
  font-size: calc(1.375rem + 1.4vw) !important;
  line-height: 35px;
  white-space: nowrap;
  font-stretch: expanded;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f0f0f0;
  padding: 60px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  max-width: 1080px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.smallBlock {
  width: 162px;
  height: 248px;
  background-color: #999;
}

.largeBlock {
  width: 344px;
  height: 372px;
  background-color: #ccc;
  margin-right: 20px;
}

.extraLargeBlock {
  width: 708px;
  height: 372px;
  background-color: #aaa;
}


.carouselWrapper {
  width: 526px;
  overflow: hidden;
}

.carousel-inner {
  height: 248px;
}

.carousel {
  width: 110%;
  height: 120%;
}

.CountdownBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgba(255, 241, 203, 1);
  border-radius: 30px;
  font: monospace;
}

h4 {
  font-family: monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.CountdownButton {
  color: rgba(50, 56, 84, 1);
  background: rgba(255, 241, 203, 1);
  border: 1px dashed rgba(50, 56, 84, 1);
  border-radius: 30px;
  width: 220px;
  height: 48px;
}

.smallBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.homeTasks {
  padding-top: 70px;
}

/* ENTRY PAGE */

.login-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 339px;
  height: 372px;
  opacity: 1;
}

.RefBanner {
  width: 196px;
  height: 128px;
  padding-left: 20px;
  padding-bottom: 20px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;
}


.form-group {
  width: 100%;
}

form {
  width: 100%;
}

.logomark {
  display: flex;
  align-content: center;
  height: 80px;
  width: 80px;
  margin-bottom: 32px;
}

.btnPrimary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(141, 127, 199, 1);
  border-color: rgba(141, 127, 199, 1);
  color: white;
  border: none;
  text-decoration: none;
  padding: 0 15px;
  transition: background-color 0.3s ease;
}

.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 70%;
  right: 1%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #464646;
}

.eyeImg {
  right: 10px;
  top: 45%;

}

.form-check {
  display: flex !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnFrame {
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 75px;
}

.btnReg {
  display: flex;
  justify-content: center;
}

/* USER PAGE */

.pageContainer {
  display: flex;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 24px;
  left: 50px;
  width: 236px;
  height: 704px;
  background-color: rgba(238, 238, 255, 1);
  border-radius: 15px;
  margin: 0px 0px 0 0px;
}

.mainContainer {}

.headContainer {}

.bannersContainer {}

.bannerBlock {}

.upcomingLessonBlock {}

.studyContainer {}

.balanceBlock {}

.sheduleBlock {}

/* NAV MENU */


.logo {
  width: 148px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.flex-column {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.navbtnPrimary {
  display: flex;
  align-items: center;
  width: 216px;
  height: 40px;
  border-radius: 0 30px 30px 0;
  padding: 0 0 0 44px;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.navbtnPrimary .nav-link {
  color: rgba(67, 75, 116, 1);
}

#text {
  color: rgba(67, 75, 116, 1);
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(67, 75, 116, 1);
}

.nav-link img {
  margin-right: 8px;
}

.btnPrimary:hover .nav-link {
  font-size: 1.1em;
  color: rgba(67, 75, 116, 1);
}

.btnPrimary.active {
  background-color: rgba(141, 127, 199, 1);
  border-radius: 0 30px 30px 0;
  margin-left: 0;
}

.btnPrimary.active .nav-link {
  color: white;
}

.content-container {
  margin-left: 236px;
  padding: 20px;
  width: calc(100% - 236px);
}